html(lang="en")
    head
        title Scaloud
    body
        h1 Scaloud - Scala/Play apps PaaS deployment service
        #container.col
            p
                Jade is a terse and simple
                templating language with a
                strong focus on performance
                and powerful features.
        #container
            ol
                li
                    a(href="/") home
                li
                    a(href="/create") create application
                li
                    a(href="/gitlab") show gitlab projects